.footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    text-align: center;

    h5 {
        padding-top: 15px;
    }

    .list-group-item {
        background-color: $footer-background-color;
        border-top: 0;
        font-size: 12px;
        padding: 0;

        p {
            margin: 0;
        }
    }

    .footer-column-content {
        text-align: left;
    }

    .footer-sign {
        text-align: center;
    }
}