<html ng-app="yachtsSite" lang="{{lang}}">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Yachts Site</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
		<link rel="manifest" href="images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<script src="scripts.js" charset="utf-8"></script>
	</head>
	<body ng-controller="indexCtrl">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img src="images/favicons/android-icon-72x36.png" width="72" height="36"
						alt="Yachts" class="d-inline-block align-top">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#yachtsNavbar" aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="yachtsNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">
							{{'HOME' | translate}}<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">{{'CONTACT' | translate}}</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a ng-show="lang === 'en'" ng-click="changeLanguage('pl')">
							<img src="images/pl-flag.jpg" width="58" height="36" alt="Polish"
									class="d-inline-block align-top">
						</a>
						<a ng-show="lang === 'pl'" ng-click="changeLanguage('en')">
							<img src="images/en-flag.jpg" width="58" height="36" alt="Angielski"
									class="d-inline-block align-top">
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<ng-view></ng-view>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 about-us">
							<h5>{{'FOOTER.ABOUT_US' | translate}}</h5>
							<p class="footer-column-content">{{'FOOTER.DESCRIPTION' | translate}}</p>
					</div>
					<div class="col-md-4">
						<h5>{{'FOOTER.SITE_MAP' | translate}}</h5>
						<ul class="list-group list-group-flush footer-column-content">
							<li class="list-group-item">
								<a href="/">{{'HOME' | translate}}</a>
							</li>
							<li class="list-group-item">
								<a href="/contact">{{'CONTACT' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5>{{'FOOTER.CONTACT_US' | translate}}</h5>
						<ul class="list-group list-group-flush footer-column-content">
						<li class="list-group-item">
							<span></span>
							<p>{{'FOOTER.ADDRESS' | translate}}</p>
						</li>
						<li class="list-group-item">
							<span></span>
							<p>+48 444 937 024</p>
						</li>
						<li class="list-group-item">
							<span></span>
							<p>tardion@tardion.pl</p>
						</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p class="footer-sign">{{'FOOTER.ALL_RIGHTS' | translate}}</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>